* {
  margin: 0;
  box-sizing: border-box;
}


.section2{
    width: 200px;
    height: 200px;
    background-color: pink;
    cursor: pointer;
    opacity: 0.5;
}
.section1{
    width: 200px;
    height: 200px;
}

.section1 img{
    width: 200px;
    /* filter: blur(5px); */
    filter: grayscale(0.8);
}

/* :hover estilos que se aplicaran cuando el mouse se encuentren sobre el elemento */
.section1 img:hover{
    filter: none;
    cursor: pointer;
}